# Dependencies
node_modules/
**/node_modules/

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
*.env

# Production builds
dist/
build/
out/
.next/

# System and logs
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Application logs
server/logs/